.w {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 84px;
    border-bottom: 1px solid #c81523;
}

.logo {
    width: 171px;
    height: 61px;
    padding-top: 18px;
}

.registerarear {
    height: 522px;
    border: 1px solid #cccccc;
    margin-top: 20px;
}

.registerarear h3 {
    height: 42px;
    border-bottom: 1px solid #cccccc;
    background-color: #ececec;
    line-height: 42px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 400;
}

.login {
    float: right;
    font-size: 14px;
}

.login a {
    color: red;
}

.reg_from {
    width: 600px;
    background-color: pink;
    margin: 50px auto 0;
}

.reg_from ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;
}

.reg_from ul li input {
    width: 242px;
    height: 37px;
    border: 1px solid #cccccc;
}

.reg_from ul li span {
    color: red;
}